@import '../../../global.scss';
.contact {
  background-color: darkcyan;
  height: 100vh;
  width: 100%;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 3rem;
    @include laptop {
      font-size: 4rem;
    }
  }
}
