@import '../../../global.scss';
#portal {
  height: 100vh;
  width: 100%;
  background-color: darksalmon;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .container {
    width: 70vw;
    margin: 0 auto;
    padding: 150px 0;

    h2 {
      font-size: 3rem;
      color: #fff;
      text-align: center;
      @include laptop {
        font-size: 4rem;
      }
    }
    .detail {
      background-color: #999;
      display: flex;
      border-radius: 10px;
      padding: 35px 20px 35px 20px;
      margin-top: 30px;
      @include laptop {
        padding: 35px 20px 35px 55px;
      }

      .col-left {
        flex-basis: 65%;
        max-width: 65%;

        .date {
          padding-top: 10px;
        }

        b {
          padding-top: 10px;
          font-size: 1.3rem;
          color: papayawhip;
          text-transform: uppercase;
          &:last-child {
            padding-top: 5px;
          }
        }
        p {
          color: #fff;
        }
      }
      .col-right {
        flex-basis: 35%;
        max-width: 35%;
        .skills {
          padding-top: 10px;
        }

        b {
          padding-top: 10px;
          font-size: 1.3rem;
          color: papayawhip;
          text-transform: uppercase;
        }
        p {
          color: #fff;
        }
      }
    }
    .sec1 {
      margin: 50px auto;
      align-items: center;
      @include laptop {
        display: flex;
      }

      .col-left {
        @include laptop {
          flex-basis: 50%;
          max-width: 55%;
          margin-right: 40px;
        }

        h3 {
          font-size: 1.5rem;
          color: #fff;
          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50px;
            background-color: #fff;
          }
        }

        p {
          color: #fff;
          line-height: 25px;
          padding: 30px 0;
          @include tablet {
            font-size: 1.2rem;
          }
        }
      }

      .col-right {
        @include tablet {
          flex-basis: 50%;
          max-width: 80%;
          margin: 0 auto;
        }
        @include desktop {
          max-width: 30%;
        }

        img {
          width: 100%;
          max-height: 500px;
          border-radius: 2%;
          display: flex;
          margin: 0 auto;
        }
      }
    }
    .sec2 {
      margin: 50px auto;
      align-items: center;
      flex-direction: row-reverse;
      @include laptop {
        display: flex;
      }

      .col-right {
        @include laptop {
          flex-basis: 50%;
          max-width: 55%;
          margin-left: 40px;
        }

        h3 {
          font-size: 1.5rem;
          color: #fff;
          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50px;
            background-color: #fff;
          }
        }

        p {
          color: #fff;
          line-height: 25px;
          padding: 30px 0;
          @include tablet {
            font-size: 1.2rem;
          }
        }
      }

      .col-left {
        @include tablet {
          flex-basis: 50%;
          max-width: 80%;
          margin: 0 auto;
        }
        @include desktop {
          max-width: 30%;
        }

        img {
          width: 100%;
          max-height: 500px;
          border-radius: 2%;
          display: flex;
          margin: 0 auto;
        }
      }
    }
    .sec3 {
      margin: 50px auto;

      h3 {
        font-size: 1.5rem;
        color: #fff;
        padding-bottom: 20px;
        width: 400px;
        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 50px;
          text-align: center;
          background-color: #fff;
        }
      }
      .img-sec {
        align-items: center;
        justify-content: center;
        @include tablet {
          margin: 0 auto;
          max-width: 80%;
        }
        @include laptop {
          display: flex;
          justify-content: space-between;
          max-width: 100%;
          padding-top: 30px;
        }

        img {
          width: 100%;
          border-radius: 2%;
          display: flex;
          margin: 30px auto;
          @include laptop {
            margin: 0 20px;
          }
        }
      }
    }
    .cta-sec {
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: inherit;
      }

      .btn {
        height: 50px;
        width: 200px;
        font-weight: 700;
        font-size: 1.5rem;
        color: #000000;
        background-color: #fff;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
        border-radius: 10px;
        margin: 20px auto;
        box-shadow: 31px 18px 21px -19px #222;
      }
      :hover {
        background-color: #999;
        color: #fff;
      }
    }
  }
}
.portfolio {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 150px 0;
  z-index: 1;
  background-color: brown;

  .display-none {
    display: none;
  }

  h1 {
    font-size: 3rem;
    color: #fff;
    @include laptop {
      font-size: 4rem;
    }
  }

  .dropdown {
    justify-content: center;
    display: flex;

    ul {
      display: flex;
      padding: 0;
      list-style: none;
      li {
        font-size: 1rem;
        padding: 10px;
        @include laptop {
          font-size: 1.5rem;
        }
      }
    }
  }
  :hover li {
    display: inline-block;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 80vw;
    margin: 0 auto;

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      @include laptop {
        margin: 13px 27px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: darkcyan;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  &.active {
    display: none;
  }
}
